<h1>Gain Knowledge about <span>Tech Stuff.</span></h1>
<div class="container flex">
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">Angular is a development platform, built on TypeScript. As a platform, Angular
                includes: A
                component-based framework for building scalable web applications. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">ReactJs</h5>
            <p class="card-text">ReactJs is a development platform, built on TypeScript. As a platform, Angular
                includes: A
                component-based framework for building scalable web applications. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">NodeJs</h5>
            <p class="card-text">NodeJs is a development platform, built on TypeScript. As a platform, Angular
                includes: A
                component-based framework for building scalable web applications. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>